<h1>Show Looks</h1>
<div class="row">
	<p>
		<% @look.lookPhotos.each do |lp| %>
			<%= image_tag lp.photo.url %>
		<% end %>
	</p>
	<p>
		<% @look.description %>
	</p>
	<p>
		Created by: 
		<b><%= @look.user.display_name %></b><br />
		<%= @look.created_at %>
	</p>
	<div id="commentArea">
		<%= render "layouts/add_comments_by_look" %>
		<%= render "layouts/show_comments_by_look" %>
	</div>
</div>