<div class="row">
	<h2>User Profile</h2>
	
    <div class="span9">
      <div class="jumbotron">
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
      </div>
      <div class="row">
        <% @looks.each do |l| %>
          <div class="span3">
            <% lp = l.lookPhotos.first %>
            <% unless lp.nil? %>
              <%= link_to image_tag(lp.photo.url), look_path(l.id) %>
            <% end %>
            <p><%= l.description %></p>
            <ul>
              <li><%= link_to "View Details", look_path(l.id) %></li>
              <% if l.user_id = current_user.id %>
                <li><%= link_to "Edit", edit_look_path(l.id), class: "action" %></li>
                <li><%= link_to "Delete", look_path(l.id), confirm: "Are you sure you want to delete this look?", method: :delete %></li>
              <% end %>
            </p>
          </div><!--/span-->
        <% end %>
        
      </div><!--/row-->
    </div><!--/span-->
    <div class="span3" id="user_sidebar">
      <%= render "layouts/user_sidebar" %>
    </div>
</div>
